<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.FollowDao">	
	
<!-- 	나를 팔로잉한 회원 조회 -->
<!-- 	<select id="search_follow" resultType="com.example.demo.vo.FollowVo"> -->
<!-- 		select user_id2,user_id from follow where user_id=#{user_id} -->
<!-- 	</select> -->
	<select id="search_follow" resultType="com.example.demo.vo.FollowVo">
		select f.user_id2, f.user_id,
			(select intro from member_info where user_id=f.user_id2) as intro, 
			(select fname from member_info where user_id=f.user_id2) as fname
		from follow f, member_info m
		where f.user_id = m.user_id and
		        f.user_id=#{user_id}
	</select>
	
<!-- 	나를 팔로잉한 회원 수 -->
	<select id="search_follow_count" resultType="java.lang.Integer">
		select count(*) from follow where user_id=#{user_id}
	</select>
		 
<!-- 	내가 팔로잉한 회원 조회 -->
	<select id="search_following" resultType="com.example.demo.vo.FollowVo">
		select user_id from follow where user_id2=#{user_id2}
	</select>
	
<!-- 	팔로우하기 -->
	<insert id="insert_follow">
		insert into follow values(seq_f_no.nextval,'팔로잉',#{user_id},#{user_id2})
	</insert>
	
<!-- 	맞팔로우하기 -->
	<insert id="insert_follow2">
		insert into follow values(seq_f_no.nextval,'팔로잉',#{user_id2},#{user_id})
	</insert>
	
<!-- 	맞팔로우 가능한지 조회 -->
	<select id="serach_follow2_count" resultType="java.lang.Integer">
		select user_id from follow where user_id2=#{user_id2}
	</select>

<!-- 	언팔로우 -->
	<delete id="delete_follow">
		delete follow where user_id = #{user_id} and user_id2 = #{user_id2}
	</delete>
	
<!-- 	팔로잉 확인 -->
	<select id="follow_chk" resultType="java.lang.Integer">
		select count(*) from follow where user_id=#{user_id} and user_id2=#{user_id2}
	</select>
</mapper>