<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.M_PicboardDao">
<!-- 픽보드 리스트 -->
<select id="picboaard_list" resultType="com.example.demo.vo.Pic_BoardVo">
	select * from pic_board
</select>

<!-- 픽보드파일 리스트 -->
<select id="picboardfile_list" resultType="com.example.demo.vo.Pic_Board_FileVo">
	select * from pic_board_file
</select>

<!-- 픽보드 상세보기 -->
<select id="picboaard_detail" resultType="com.example.demo.vo.Pic_BoardVo">
	select * from pic_board where photo_no = #{photo_no}
</select>

<!-- 픽보드파일 상세보기 -->
<select id="picboardfile_detail" resultType="com.example.demo.vo.Pic_Board_FileVo">
	select * from pic_board_file where photo_no = #{photo_no}
</select>

<!-- 픽보드 삭제 -->
<delete id="picboard_delete">
	delete pic_board where photo_no = #{photo_no}
</delete>

<!-- 픽보드파일 삭제 -->
<delete id="picboardfile_delete">
	delete pic_board_file where photo_no = #{photo_no}
</delete>

<!-- 픽보드댓글 게시물에 달린거 전체 삭제 -->
<delete id="picboardcomment_Alldelete">
	delete pic_board_comment where photo_no = #{photo_no}
</delete>

<!-- 좋아요 삭제 -->
<delete id="like_delete">
	delete likeit where photo_no = #{photo_no}
</delete>

<!-- 댓글 리스트 -->
<select id="picboardcomment_list" resultType="com.example.demo.vo.Pic_Board_CommentVo">
	select * from pic_board_comment where photo_no = #{photo_no}
</select>

<!-- 댓글 한개씩 삭제 -->
<delete id="picboardcomment_delete">
	delete pic_board_comment where photo_comm_no = #{photo_comm_no}
</delete>

</mapper>