<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- //영수) 5월12일 Notice맵퍼 -->
<mapper namespace="com.example.demo.dao.NoticeDao">
<!--  	공지사항 리스트 -->
 	<select id="allNoticeList" resultType="com.example.demo.vo.NoticeVo">
 		select * from notice order by notice_no desc
 	</select>
 	
<!--  	공지사항 등록 -->
 	<insert id="insertNotice">
 		insert into notice values (seq_notice_no.nextval, #{notice_title},#{notice_content},0,sysdate,#{cs_no})
 	</insert>
 	
<!-- 	공지사항 삭제 -->
	<delete id="deleteNotice">
		delete notice where notice_no = #{notice_no}
	</delete>
	
<!-- 	공지사항 수정 -->
	<update id="updateNotice">
		update notice set notice_title = #{notice_title}, notice_content = #{notice_content} where notice_no = #{notice_no} ande cs_no = {cs_no} )
	</update>
	
<!-- 	조회수 -->
	<update id="hit">
		update notice set notice_hit = (select notice_hit from notice where notice_no=#{notice_no})+1 where notice_no=#{notice_no}
	</update>

<!-- 상세보기 -->
	<select id="detailNotice" resultType="com.example.demo.vo.NoticeVo">
		select * from notice_no = #{notice_no}
	</select>

</mapper>