<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.SnsDao">
  
  <!-- 모든 파일 -->
  <select id="listFile" resultType="com.example.demo.vo.Pic_Board_FileVo">
   	select * from pic_board_file
  </select>
  
  <!-- 모든 글 -->
  <select id="listBoard" resultType="com.example.demo.vo.Pic_BoardVo">
   	select * from pic_board
  </select>
  
  <!-- 상세보기 파일 -->
  <select id="detailFile" resultType="com.example.demo.vo.Pic_Board_FileVo">
  	select * from pic_board_file where photo_no = #{photo_no}
  </select>
  
  <!-- 상세보기 글 -->
  <select id="detailBoard" resultType="com.example.demo.vo.Pic_BoardVo">
  select * from pic_board where photo_no = #{photo_no}
  </select>
  
  <!-- 마지막글번호 -->
  <select id="photo_no" resultType="java.lang.Integer">
  	select max(photo_no) from pic_board
  </select>
  
<!--   sns 글 등록 -->
  <insert id="insertsns">
  	
  	insert into pic_board values (seq_photo_no.nextval, sysdate, #{photo_detail}, #{user_id})
  	<selectKey keyProperty="photo_no" resultType="java.lang.Integer" order="AFTER">
	  		select seq_photo_no.nextval from dual
	  </selectKey>
  </insert>
  
<!--   sns 파일등록 -->
  <insert id="insertfile">
<!-- 	  <selectKey keyProperty="photo_no" resultType="java.lang.Integer" order="BEFORE"> -->
<!-- 	  		select seq_photo_no.nextval from dual -->
<!-- 	  </selectKey> -->
  insert into pic_board_file values (seq_pic_board_no.nextval, #{photo_file_name}, #{photo_no})
  </insert>
  
  
<!--   좋아요 -->
  <insert id="insertlikeit">
  insert into likeit values(seq_like_no.nextval, #(photo_no), #{photo_no}, #{user_id})
  </insert>
  
<!--   좋아요 수 -->
  <select id="likecnt" resultType="java.lang.Integer">
  select count(*) from likeit where photo_no = #{photo_no} and user_id = #{user_id}
  </select>
  
<!--   sns 글 삭제 -->
  <delete id="deletesns">
  delete pic_board where photo_no = #{photo_no} <!--and user_id = #{user_id}-->
  </delete>
  
 <!-- sns수정  ???-->
 <update id="updatesns" >
 	update pic_board set photo_detail = #{photo_detail},pic_board_file = #{pic_board_file} where photo_no = #{photo_no}
 </update> 
  
  <!-- 상세보기 글-->
  <select id="detailsns_board" resultType="com.example.demo.vo.Pic_BoardVo">
  	select * from pic_board
  </select>
  
  <!-- 상세보기 사진 -->
  <select id="detailsns_file" resultType="com.example.demo.vo.Pic_Board_FileVo">
  	select * from pic_board_file
  </select>
  
  
  <!-- 게시물 수 -->
	<select id="listCount" resultType="int" parameterType="com.example.demo.util.SearchCriteria">
		SELECT COUNT(pic_board)
		  FROM photo_no
		   WHERE 1=1
		<include refid="search"></include>
		 and pic_board > 0
	</select>
	
  <sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND inq_title LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND inq_content LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND user_id LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND (inq_title LIKE '%' || #{keyword} || '%') or (inq_content LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>
</mapper>