<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  	<!-- namespace는 dao interface의 경로 -->
<mapper namespace="com.example.demo.dao.QnaDao">
	<!-- id는 dao의 클래스 이름과 일치시켜야함 -->
	<!-- resultType은 vo의 경로 -->
  <select id="listQna" resultType="com.example.demo.vo.QnaVo">
    select * from qna order by inq_no
  </select>
</mapper>